.flumpie {
    color:green;
}

.frank {
    color: pink;
}

.smudge {
    color: tan;
}

.joe {
    color: brown;
}

.squishy {
    color: grey;
}

.flex-container {
    display: flex;
}

.flex-container .story-box {
    background: lightgrey;
    border: 4px solid black;
    height: 300px;
    width: 400px;
    padding: 10px;
    flex: 1 1 auto;
}